body {
	position: relative;
	background-color: #030703;
}

 #player {
 	border-spacing: 0px; 
	position: absolute;
	left: 50px;
	top: 90px;
}
td {
	width: 30px;
	height: 30px;
	border: 1px solid #239EE0;
}
.numbers, .letter{
	text-align: center;
	border: 0px;
	color: #239EE0;
}

#computer {
	border-spacing: 0px; 
	float: right;
	position: absolute;
	left: 450px;
	top: 90px;
}
.visible {
	background-color: #00ff00;
}
.hit {
	background-color: #ff0000;
}
.miss {
	background-color: #00ffff;
}

div#messageArea {
	position: absolute;
	top: 0px;
	left: 150px;
	height: 70px;
	width: 600px;
	background-color: #0E1C2B;
	padding: 5px 10px 5px 10px;
	font-size: 150%;
	color: #239EE0;
}
.message {
	background-color: #000033;
	position: absolute;
	top: 80px;
	left: 150px;
	height: 400px;
	width: 700px;
	padding: 20px 20px 20px 20px;
	font-size: 150%;
	text-align: center;
	box-shadow: 0px 10px 25px 15px #000033;
	color: #239EE0;
	text-shadow:0px 0px 10px #239EE0;
}

.display-none {
	display: none;

}
.myButton {

	background-color:#39EAF7;
	border-radius:9px;
	border:5px solid #39EAF7;
	display:inline-block;
	cursor:pointer;
	color:#101a12;
	font-family:Verdana;
	font-size:28px;
	padding:30px 60px;
	text-decoration:none;
	text-shadow:0px 0px 50px #040803;
	margin: 50px;
	box-shadow: 0px 5px 10px 10px #39EAF7;
}
.myButton:hover {
	box-shadow: 0px 5px 15px 10px #39EAF7;
}
.myButton:active {
	position:relative;
	top:3px;
}

#css-input { 
	margin-top: 80px;
	padding:5px;
	font-size:30px;
	text-align:left;
	border-width:2px;
	border-radius:0px;
	border-style:inset;
	background-color:#39EAF7;
	border-color:#239EE0;
	box-shadow: -2px 5px 2px 0px rgba(0,0,16,.76);
	text-shadow:-4px 0px 10px rgba(42,42,42,.96);
	font-weight:normal; font-style:none; font-family:sans-serif; 
}#css-input:focus { outline:none; } 

#player-name {
	position: absolute;
	left: 50px;
	top: 500px;
	color: #239EE0;
}
#wopr {
	position: absolute;
	left: 750px;
	top: 500px;
	color: #239EE0;
}
.whos-turn {
	text-shadow:0px 0px 10px #239EE0;
}